

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.movie-card{
    position: relative;
    transition: all .5s linear;
    cursor: pointer;
    height: 333px;

}
.layer {
    width: 0%;
    height: 100%;
    left: 0;
    top:0;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    overflow: hidden;
    transition: all 1s  ;
    
}

.movie-card:hover .layer{
    width: 100%;
    
}


.info{
    animation: opacity .7s 1s alternate ;
   
}

@keyframes opacity{
  from{
    opacity: 0;
  }

  to{
    opacity: 1;
  }
}


.card-detalis {
  /* height: auto; */
  border-radius: 20px;
  background-color: #f8f8f8;
  align-items: center;
  
}
.card-story {
  height: auto;
  border-radius: 20px;
  background-color: #f8f8f8;
  padding: 15px;
}
.img-movie {
  /* height: 360px;
  width: 100%;
  object-fit:contain; */
  padding: 10px;
  border-radius: 20px;
}

.card-text-details {
  color: #555555;
  font-family: Almarai;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 49px;
}

.card-text-story {
  color: #555555;
  font-family: Almarai;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 32px;
  text-align: left;
}
.card-text-title {
  color: #555555;
  font-family: Almarai;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 49px;
}

